{% extends 'AdminBundle:Home:base.html.twig' %}
{% block stylesheets %}
 <link href="{{ asset('assets/admin_website/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" /> 
{% endblock %}

{% block body_content %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Edition d'une chaine 
        <a class="btn btn-danger btn-lg" role="button" href="channels/add">Supprimer</a>
      </h1>
    </div>
  </div>
  {{ form_start(form, { 'action': path('edit_channel', {'id': channel.id}), 'method':'POST'}) }}
  {{ form_widget(form) }}

  <div>
    <div class="form-group">
      <button type="submit" name="save" value="Editer" class="btn btn-primary">save</button>
      <a href="{{ path('admin_channels') }}" value="Annuler" class="btn btn-default">cancel</a>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}

{% block scripts %}
  <script src="{{ asset('assets/admin_website/js/fileinput.min.js') }}"></script>
  <script>
    $("#Channel_imageFile").fileinput({

    //uploadUrl: "/file-upload-batch/1",
    uploadAsync: false,
    minFileCount: 0,
    maxFileCount: 1,
    overwriteInitial: true,
    initialPreview: [
        // IMAGE DATA
        "{{ asset('uploads/' ~ channel.imageName) }}"],
    initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
    initialPreviewFileType: 'image', // image is the default and can be overridden in config below
    
    purifyHtml: false, // this by default purifies HTML data for preview
  }).on('fileuploaded', function(e, params) {
    console.log('File uploaded params', params);
  });
</script>
{% endblock %}
