<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Interface admin</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/shared_assets/css/bootstrap.min.css') }}" />

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="{{ asset('assets/admin_website/css/metisMenu.min.css') }}" />

    <!-- Timeline CSS -->
    {#     <link rel="stylesheet" href="{{ asset('assets/admin/dist/css/timeline.css') }}" /> #}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('assets/admin_website/css/sb-admin-2.css') }}" />

    <!-- Morris Charts CSS -->
    {#     <link rel="stylesheet" href="{{ asset('assets/admin/bower_components/morrisjs/morris.css') }}" /> #}

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ asset('assets/shared_assets/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/admin_website/css/base.css') }}" />

    {% block stylesheets %} {% endblock %}

    </head>

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Interface administrateur</a>
                </div>


                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-wrench fa-fw"></i> Paramétrage <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('admin_tvshows') }}">Emissions</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_locations') }}">Lieux de tournage</a>
                                    </li>
                                    <li>
                                        <a href="#">Aide<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level collapse">
                                            <li>
                                                <a href="{{ path('show_contact_infos') }} ">Nos coordonnées</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('admin_faq') }}">FAQ</a>
                                            </li>
                                        </ul>
                                        <!-- /.nav-third-level -->
                                    </li>
                                    <li>
                                        <a href="{{ path('show_email_template') }}">Emails</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-wrench fa-fw"></i> Gestion des tournages <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('admin_recordings') }}">Programmation</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_registration_requests') }}">Inscriptions</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('past_recordings') }}">Anciens tournages</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-wrench fa-fw"></i> Outils d'administration <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('slider_config') }}">Gestion du slider</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_uploads') }}">Upload de contenu</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('users') }}">Liste des utilisateurs</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>



            <div id="page-wrapper">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success text-center">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="container-fluid">

                    {% block body_content %}
                    {% endblock %}

                </div>
            </div>

        </div>

        <script src="{{ asset('assets/shared_assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/client_website/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('assets/shared_assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/admin_website/js/sb-admin-2.js') }}"></script>
        <script src="{{ asset('assets/admin_website/js/metisMenu.min.js') }}"></script>


        {% block scripts %}
        {% endblock %}

    </body>

    </html>
