{% extends "base.html.twig" %}

{% block stylesheets %} 
<link rel="stylesheet" type="text/css" href="{{ asset('assets/client_website/css/index.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('assets/client_website/css/slick.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('assets/client_website/css/slick-theme.css') }}"/>
{% endblock %}

{% block body_content %}
  <div class="header-slides">
   <div class="slide-class">

    {% for slide in slides %}
      <img class="logo" src="{{ asset('slides/' ~ slide.fileName) }}"></img>
    {% endfor %}
    

  </div>
  <div class="jumbotron">
    <h1 class="jumbotron-content">Bienvenue chez JR Production</h1>
  </div>
</div>

<!-- Header Carousel -->
<div class="container main-container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" style="text-align:center">
       Venez assistez à nos émissions !
       
     </h1>
   </div>
   <div class="col-md-4">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="panel-body">
        <h4>Créer votre compte</h4>
        <p>C'est très simple, et ne vous prendra qu'une minute</p>
        <br />
        <a class="btn btn-primary" id="secondary-register-button" href="javascript: void(0)">S'inscrire</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-television fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="panel-body">
        <h4>Choisissez votre émission</h4>
        <p>Allez-y, cherchez, il y en a forcément une pour vous !</p>
         <br />
        <a class="btn btn-primary" href="{{ path('tvshows') }}">Les émissions</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
         <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-check-square-o fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="panel-body">
        <h4>Nous nous occupons de tout !</h4>
        <p>Nous prenons contact avec vous pour vous confirmer la réservation.</p>
         <br />
        <a class="btn btn-primary" href="#">Mes réservations</a>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<!-- Portfolio Section -->
<div class="container-fluid">
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Vos émissions préférées</h2>
  </div>
  {% for tvShow in tvShows %}
    <div class="col-md-4 col-sm-6">
    <a href="{{ path('show_tvshow', {id: tvShow.id}) }}">
      <img class="img-responsive img-portfolio img-hover" src="{{ asset('uploads/' ~ tvShow.imageName) }}" alt="">
    </a>
  </div>
  {% endfor %}
  <div class="col-md-4 col-sm-6">
    <a href="portfolio-item.html">
      <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/600x350" alt="">
    </a>
  </div>
  <div class="col-md-4 col-sm-6">
    <a href="portfolio-item.html">
      <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/600x350" alt="">
    </a>
  </div>
  <div class="col-md-4 col-sm-6">
    <a href="portfolio-item.html">
      <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/600x350" alt="">
    </a>
  </div>
  <div class="col-md-4 col-sm-6">
    <a href="portfolio-item.html">
      <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/600x350" alt="">
    </a>
  </div>
  <div class="col-md-4 col-sm-6">
    <a href="portfolio-item.html">
      <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/600x350" alt="">
    </a>
  </div>
</div>
</div>
<!-- /.row -->

<!-- Features Section -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Venez en groupe !</h2>
  </div>
  <div class="col-md-6">
    <p>The Modern Business template by Start Bootstrap includes:</p>
    <ul>
      <li><strong>Bootstrap v3.2.0</strong>
      </li>
      <li>jQuery v1.11.0</li>
      <li>Font Awesome v4.1.0</li>
      <li>Working PHP contact form with validation</li>
      <li>Unstyled page elements for easy customization</li>
      <li>17 HTML pages</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
  </div>
  <div class="col-md-6">
    <img class="img-responsive" src="http://placehold.it/700x350" alt="">
</div>
</div>
<!-- /.row -->

<hr>

<!-- Call to Action Section -->
<div class="well">
  <div class="row">
    <div class="col-md-8">
      <p> Si jamais vous avez une question, que ce soit pour choisir votre émission, vous rendre sur le lieux du tournage, venir en groupe ou bien tout autres renseignements, n'hésitez surtout pas à nous contacter !</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-default btn-block" href="#">Contactez-nous</a>
    </div>
  </div>
</div>

<hr>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/client_website/js/slick.min.js') }}"></script>


  <script src="{{ asset('assets/client_website/js/typed.min.js') }}"></script>
  <script>
    $(function(){
 /*     $(".jumbotron-content").typed({
        strings: ["Ne regardez plus la tv<br>^3000Vivez-là !!!!!!^3000"],
        typeSpeed: 200,
        showCursor: true,
        cursorChar: "|",
        contentType: 'html',
        loop:true,
        countLoop:false
      });*/

      $('.slide-class').slick({
       autoplay: true,
       infinite: true,
       speed: 500,
       fade: true,
       cssEase: 'linear',
       centerMode: true,
       dots: true,
       pauseOnHover:true


     });

    });
  </script>
{% endblock %}