{% extends "base.html.twig" %}


  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/client_website/css/profile.css') }}" />
  {% endblock %}

  {% block body_content %}
    <div class="container main-container">

     <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default panel-menu">
          <div class="panel-heading">
            <h3 class="panel-title">Mon profil</h3>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li class="" role="presentation">
                <a href="{{ path('fos_user_profile_show') }}">Editer mes informations</a>
              </li>
              <li class="active" role="presentation">
                <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
              </li>
              <li role="presentation">
                <a href="{{ path('registration_requests_overview') }}">Mes inscriptions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 personal-info">
        <h1>Modifier son mot de passe</h1>
        <hr>
        
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
         <input class="btn btn-primary" value="Changer de mot de passe" type="submit">
       </div>
       {{ form_end(form) }}
     </div>
   </div>
 </div>
 <hr> 


{% endblock %}
