<tr>
	<td>{{ regRequest.user.email }}</td>
	<td>{{ regRequest.user.lastName }}</td>
	<td>{{ regRequest.user.firstName }}</td>
	<td>{{ regRequest.createdAt |date('d-m-Y') }}</td>
	<td>{{ regRequest.recording.tvShow.title }}</td>
	<td>{{ regRequest.recording.date |date('d-m-Y') }}</td>
	<td>{{ regRequest.peopleNumber }}</td>
	<td>{{ regRequest.status }}</td>
	<td></td>
</tr>