<tr>
	<td>{{ regRequest.user.email }}</td>
	<td>{{ regRequest.user.lastName }}</td>
	<td>{{ regRequest.user.firstName }}</td>
	<td>{{ regRequest.user.address }}</td>
	<td>{{ regRequest.user.zipCode }}</td>
	<td>{{ regRequest.user.city }}</td>
	<td>{{ regRequest.createdAt |format_date('d/MM/Y') }}</td>
	<td>{{ regRequest.recording.tvShow.title }}</td>
	<td>{{ regRequest.recording.date |format_date('d MMM Y')}} {{ regRequest.recording.startTime | date('h:i')}} - {{ regRequest.recording.endTime | date('h:i') }}</td>
	<td>{{ regRequest.peopleNumber }}</td>
	<td>{{ regRequest.status }}</td>
	<td></td>
</tr>