{% extends 'AdminBundle:Home:base.html.twig' %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('assets/shared_assets/css/jquery.dataTables.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/admin_website/css/registration_request.css') }}"/>

{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gestion des inscriptions   
                <small> {{ tvShow.title }} </small>
                <div class="action-button">
                    <a class="btn btn-default btn-lg" role="button" href="{{path('admin_registration_requests') }}">Retour vers le choix des émissions</a>
                </div>
            </h1> 

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <table id="recordings_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Adresse Mail</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Age</th>
                <th>Téléphone</th>
                <th>Ville-Pays</th>
                <th>Date de la dem.</th>
                <th>Tournage</th>
                <th>Places</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for regRequest in regRequests %}
                {{ include('AdminBundle:RegistrationRequest:registration_request_partial.html.twig', { 'regRequest' : regRequest }) }}
            {% endfor %}
        </tbody>
    </table>

    <!-- /.row -->
{% endblock %}


{% block scripts %} 
    <script src="{{ asset('assets/shared_assets/js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#recordings_table').DataTable({
                "language": {
                    "url": "{{ asset('assets/shared_assets/tools/French.json') }}",
                    "sZeroRecords" : "Aucun tournage n'est actuellement prévu pour cette émission.",
                    "sEmptyTable" : "Aucun tournage n'est actuellement prévu pour cette émission."
                },
                "bFilter": true,

            });


            $('.accepting-button').click(function () {
                var registrationRequestID = $(this).data('button');
                $('.accepting-button').addClass("disabled");
                $('.refusing-button').addClass("disabled");
                
                var url = "{{ path('accept_registration_request', {'registrationRequestID': 'registrationRequestIDValue'} ) }}".replace('registrationRequestIDValue', registrationRequestID)
                $.post(url).done(function (data) {
                    if (data.success == false) {
                        alert(data.error);
                        $('.accepting-button').removeClass("disabled");
                        $('.refusing-button').removeClass("disabled");
                    }
                    else {
                        $("#row-"+registrationRequestID+" .responseButtons").replaceWith("<div>Réponse envoyée</div>");
                    }

                });
            });

            $('.refusing-button').click(function () {
                var registrationRequestID = $(this).data('button');
                $('.accepting-button').addClass("disabled");
                $('.refusing-button').addClass("disabled");
                
                var url = "{{ path('refuse_registration_request', {'registrationRequestID': 'registrationRequestIDValue'} ) }}".replace('registrationRequestIDValue', registrationRequestID)
                $.post(url).done(function (data) {
                    if (data.success == false) {
                        alert("Une erreur est survenue : "+data.error);
                        $('.accepting-button').removeClass("disabled");
                        $('.refusing-button').removeClass("disabled");
                    }
                    else {
                        $("#row-"+registrationRequestID+" .responseButtons").replaceWith("<div>Réponse envoyée</div>");
                    }

                });
            });
        });


    </script>
{% endblock %}