<tr>
    <td>{{ recording.tvShow.title }}</td>
    <td>{{ recording.date |date('d/m/Y')}}</td>
    <td>{{ recording.startTime |format_time('H\'h\'mm') }} - {{ recording.endTime  |format_time('H\'h\'mm')}}</td>
    <td>{{ recording.information }}</td>
    <td>{{ recording.availability }}</td>
</tr>