{% extends 'AdminBundle:Home:base.html.twig' %}

{% block stylesheets %} 
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/adminBundle_tvShows.css') }}"/>
{% endblock %}

{% block body_content %}

    <!-- Page Content -->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Selectionnez une émission 
                <div class="action-button"> 
                    <a class="btn btn-primary btn-lg" role="button" href="{{path('add_recording') }}">Ajouter un tournage</a>
                </div>
            </h1>

        </div>
    </div>
    {% for tvShow in tvShows %}
        <a href="{{ path('show_recordings', {tvshowID: tvShow.id}) }}">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ tvShow.title }}

                </div>
                <div class="panel-body">
                 <img src="{{ asset('uploads/' ~ tvShow.iconeName) }}" class="center-block thumbnail-img"></img> 
             </div>
         </div>
     </div>
 </a>

{% endfor %}
<!-- /.row -->
{% endblock %}