
<div class="modal-body register-body">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="register_container">
    <h2 class="form-signup-heading">Inscription</h2>
    <!-- <div class="signup_container"> -->
    {{ form_start(form, {'attr': {'class': 'form-signup registerAjaxForm', 'action' : path('fos_user_registration_register'), 'novalidate' : 'novalidate'  }} ) }}

  

    <span class="form-group" style="display:inline;">
    {{ form_widget(form.gender, {'attr': {'class': 'form-control selectpicker gender-input'}}) }}
     {{ form_widget(form.firstName, {'attr': {'class':  'inline-input name-input', 'placeholder': 'Prénom'}})}}
     {{ form_widget(form.lastName, {'attr': {'class': 'inline-input name-input', 'placeholder': 'Nom'}})}}
     
     {{ form_errors(form.gender) }}
     {{ form_errors(form.firstName) }}
     {{ form_errors(form.lastName) }}
   </span>

   {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
   {{ form_errors(form.email) }}
   <div class="form-group">

    
    {{ form_widget(form.birthday, {'attr': {'class': 'js-datepicker birthday-input inline-input' , 'placeholder': 'Date de naissance', 'autocomplete' : 'off'}}) }}
    {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control phoneNumber-input inline-input', 'placeholder': 'N° de téléphone'}}) }}
    
    {{ form_errors(form.birthday) }}
    {{ form_errors(form.phoneNumber) }}


  </div>
  {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
  {{ form_errors(form.plainPassword.first) }}

  {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer le mot de passe'}}) }}
  {{ form_errors(form.plainPassword.second) }}


  {{ form_widget(form.address, {'attr': {'class': 'form-control address-input inline-input', 'placeholder': 'Adresse'}}) }}
  {{ form_widget(form.zipCode, {'attr': {'class': 'form-control inline-input zipCode-input', 'placeholder': 'Code postal'}}) }}
  {{ form_errors(form.address) }}
  {{ form_errors(form.zipCode) }}
  
  {{ form_widget(form.city, {'attr': {'class': 'form-control inline-input city-input', 'placeholder': 'Ville'}}) }}
  {{ form_widget(form.country, {'attr': {'class': 'form-control inline-input country-input', 'placeholder': 'Pays'}}) }}
  {{ form_errors(form.city) }}
  {{ form_errors(form.country) }}

  {{ form_widget(form.newsletter, {'attr': {'class': 'form-control newsletter_checkbox'}}) }}
  {{ form_errors(form.newsletter) }}

  {{ form_widget(form.recaptcha) }}
  {{ form_errors(form.recaptcha) }}
<div class="robot-error">
{{ form_errors(form) }}
</div>
  <button class="btn btn-lg btn-primary btn-block register-submit-button" type="submit">Créer son compte</button>
  {{ form_end(form) }}
</div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    $('.js-datepicker').datepicker({
      changeMonth: true,
      changeYear: true,
      format: 'dd-mm-yyyy',
      language: "fr",
      defaultDate: "-30y" ,
      maxDate: "+0d",
      yearRange: '1900:' + new Date().getFullYear()
    });
    
    initRegistrationForm($('.register-submit-button'));
    $('.selectpicker').selectpicker({});
  });
  
</script>
