<div class="register_container">
  <h3 class="form-signup-heading">S'inscrire</h3>
  <!-- <div class="signup_container"> -->
  {{ form_start(form, {'attr': {'class': 'form-signup registerAjaxForm', 'action' : path('fos_user_registration_register')  }} ) }}

  {{ form_errors(form) }}

  <span class="form-group" style="display:inline;">
   {{ form_widget(form.firstName, {'attr': {'class':  'inline-input', 'placeholder': 'Prénom'}})}}
   {{ form_errors(form.firstName) }}

   {{ form_widget(form.lastName, {'attr': {'class': 'inline-input', 'placeholder': 'Nom'}})}}
   {{ form_errors(form.lastName) }}
 </span>

 {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
 {{ form_errors(form.email) }}
 <div class="form-group" style="display:inline;">
  {{ form_widget(form.gender, {'attr': {'class': 'form-control selectpicker gender-input'}}) }}
  {{ form_errors(form.gender) }}
  {{ form_widget(form.birthday, {'attr': {'class': 'js-datepicker birthday-input' , 'placeholder': 'Date de naissance'}}) }}
  {{ form_errors(form.birthday) }}

</div>
{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
{{ form_errors(form.plainPassword.first) }}

{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer le mot de passe'}}) }}
{{ form_errors(form.plainPassword.second) }}




{{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone'}}) }}
{{ form_errors(form.phoneNumber) }}

{{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
{{ form_errors(form.address) }}

<div style="display:inline">
{{ form_widget(form.zipCode, {'attr': {'class': 'form-control inline-input', 'placeholder': 'Code postal'}}) }}
{{ form_errors(form.zipCode) }}

{{ form_widget(form.city, {'attr': {'class': 'form-control inline-input', 'placeholder': 'Ville'}}) }}
{{ form_errors(form.city) }}
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">Créer son compte</button>
{{ form_end(form) }}
</div>
<!-- </div>
-->



<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

<script type="text/javascript">

  $(document).ready(function() {
    $('.js-datepicker').datepicker({
      changeMonth: true,
      changeYear: true,
      format: 'dd-mm-yyyy',
      language: "fr",
      defaultDate: "-30y" ,
      maxDate: "+0d",
      yearRange: '1900:' + new Date().getFullYear()

    });
  });

  function initAjaxForm()
  {
    $('body').on('submit', '.registerAjaxForm', function (e) {

      e.preventDefault()
      $.ajax({
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        data: $(this).serialize()
      })
      .done(function (data) {
        if (typeof data.message !== 'undefined') {
          alert(data.message)
          $('.error-content').replaceWith(data.message);
        }
        $('.register_container').replaceWith(data);
      })
      .fail(function (jqXHR, textStatus, errorThrown) {
        alert('toto');
        if (typeof jqXHR.responseJSON !== 'undefined') {
          if (jqXHR.responseJSON.hasOwnProperty('form')) {
            $('#form_body').html(jqXHR.responseJSON.form);
          }

          $('.form_error').html(jqXHR.responseJSON.message);

        } else {
          alert(errorThrown);
        }

      });
    });
  }   
  initAjaxForm();
</script>
</script>
