{% extends "base.html.twig" %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('assets/client_website/css/calendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/client_website/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/shared_assets/css/jquery.dataTables.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/client_website/css/bootstrap-datepicker3.min.css') }}" />

{% endblock %}

{% block body_content %}

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Calendrier des tournages
                    <small></small>
                </h1>

{#                 <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Calendrier des tournages</li>
                </ol> #}
            </div>
        </div>
        
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <p class="subcomment">Sur cette page, visualisez en un coup d'oeil tous les tournages programmés.</p>
                <div id="calendar" class="center-block"></div>
            </div>

            <table id="events_calendar" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Emission</th>
                        <th>Date</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Information</th>
                        <th>Inscription</th>
                        <th>Helper</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recording in recordings %}
                        {{ include('AppBundle:Calendar:calendar_recording_partial.html.twig', { 'recording' : recording }) }}
                    {% endfor %}


                </tbody>
            </table>

        </div>
    </div>

    <div id="connectedSuscribtionModal" tabindex="-1">
    </div>

    <div class="modal fade" id="anonymousSuscribtionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog register-modal" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="suscribtion_container text-center">
                        <h3>Oups...</h3>
                        <p>Vous devez être identifié pour vous inscrire à une émission.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" >J'ai compris !</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('assets/shared_assets/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/client_website/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/client_website/js/bootstrap-datepicker.fr.min.js') }}"></script>

    <script>

        $(document).ready(function() {
            $.fn.exists = function () {
                return this.length !== 0;
            }

            var calendarTable = $('#events_calendar').dataTable({
                "language": {
                    "url": "{{ asset('assets/shared_assets/tools/French.json') }}",
                    "sZeroRecords" : "Aucun tournage n'est prévu pour la date sélectionnée"
                },
                "bFilter": true,
                "columnDefs": [
                {
                    "targets": [ 6 ],
                    "visible": false,
                    "searchable": false
                }
                ],
                "columns": [
                    null,
                    null,
                    { "width": "6%" },
                    { "width": "6%" },
                    { "width": "35%" },
                    null
                    ],

            });
            var calendarAPI = $('#events_calendar').DataTable();
            var dateColumn = calendarAPI.column( 6 ).data();


            


            $('.connected-register-button').click(function() {

                var id = this.id;
                var url = "{{ path('request_registration_form', {'recordingID': 'recording_ID'})}}"
                url = url.replace("recording_ID", id);
                $.get(url, function(data) {

                    $('#connectedSuscribtionModal').replaceWith(data);
                    $('#connectedSuscribtionModal').modal();
                })});

            $('.anonymous-register-button').click(function() {
                $('#anonymousSuscribtionModal').modal();
            });

            function setCalendar(calendarAPI, columnData) {

                var calendar = $('#calendar').datepicker({
                    todayHighlight: true,
                    language: "fr",
                    format: 'DD dd MM yyyy',
                    startDate: '+0d',
                    maxViewMode: 2,
                    beforeShowDay: function (date){
                            var dateString = date.getDate()+" "+ (date.getMonth()+1) + " "+date.getFullYear();
                            var today = new Date();

                            if ((today <= date) && ($.inArray(dateString,columnData) != -1)) {
                               
                                return {
                                    classes: 'active'
                                };
                            }
                        
                    }
                });
                return calendar;
            }
            var calendar = setCalendar(calendarAPI,dateColumn);

            function onChangeDate(calendarTable, calendar) {
                calendar.on('changeDate', function(e) {
                    var date = e.format("DD dd MM yyyy");
                    calendarTable.fnFilter(date, 1);
                })
            }

            function onChangeMonth(calendarTable, calendar) {
                calendar.on('changeMonth', function(e) {
                    var dateMonth = e.format("MM yyyy");
                    alert(dateMonth);
                    calendarTable.fnFilter(dateMonth, 1);
                })
            }



            onChangeDate(calendarTable, calendar);
           // onChangeMonth(calendarTable, calendar);
            $('#calendar').datepicker("setDate", new Date());
            
        });
    </script>
{% endblock %}

