<tr>
	<td>{{ user.email }}</td>
	<td>{{ user.lastName }}</td>
	<td>{{ user.firstName }}</td>
	<td>{{ user.address }}</td>
	<td>{{ user.zipCode }}</td>
	<td>{{ user.city }}</td>
	<td>{{ user.phoneNumber }}</td>
	<td>{{ user.createdAt |format_date('dd MMMM Y') }}</td>
</tr>